body {
    height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    font-style: oblique;
    color: whitesmoke;
    background-color: rgb(14, 14, 74);
    text-align: center;
    height: 5rem;
    border-radius: 10px;
    line-height: 40px;
}

.presentation {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    background-color: brown;
    color: antiquewhite;
    border-radius: 10px;
    line-height: 100px;

}

#accueil {
    
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

li {
    list-style: none;
    border-radius: 10px;
    width: 20vw;
    margin: 5px;
    background-color: rgb(160, 160, 160);
    display: inline-block;
    height: 5vh;
    text-align: center;
    margin: auto;
}

img {
    width: 21rem;
    height: 32rem;
    margin-left: 40%;
}

.box {
    background-color: rgb(140, 140, 140);
    color: white;
    height: 15rem;
    font-size: 5rem;
    text-align: center;

}

p {
    background-color: rgb(70, 70, 70);
    color: white;
    height: 10rem;
    text-align: justify;
    align-content: center;
}

button {
    background-color: aqua;
    width: 8rem;
    height: 2rem;
}

.hauteur {
    line-height: 2rem;
    font-size: 1.5rem;
    width: 30rem;
    align-content: center;
    text-align: justify;
    border-radius: 10px;
    margin-left: 40rem;
}

h2 {
    margin-bottom: 2rem;
    align-content: center;
    width: 30rem;
    margin-left: 40rem;
}

form {
    margin-top: 20%;
}

#identite {
    background-color: lightpink;
    color: rgb(46, 46, 33);
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}